{% extends 'base.html.twig' %}

{% block body %}
{#    {{ dump(posts) }}#}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h2>List of all post</h2>

    <div class="action float-right">
        <a href="/post/create" class="btn btn-primary">Add Post</a>
    </div>

    <table class="table-striped table">
         <thead>
         <tr>
             <td>ID</td>
             <td>Title</td>
         </tr>
         </thead>
        <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.title }} </td>
            <td><a href="{{ path('post.show', {id: post.id}) }}">View Post</a></td>
            <td><a href="{{ path('post.delete', {id: post.id}) }}" style="color: red;">Delete Post</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}