{% extends 'base.html.twig' %}

{% block body %}
{#    {{ dump(posts) }}#}

    <h2>{{ post.title }}</h2>

    {% if post.category %}
        <em>{{ post.category }}</em>
        <hr>
    {% endif %}

    {% if post.image %}
        <img src="{{ '/uploads/' ~ post.image }}" alt="{{ post.image }}">
    {% endif %}
{% endblock %}